 // Breakpoints


 $media-1920: "only screen and (max-width: 1920px)";
 $media-1600: "only screen and (max-width: 1600px)";
  $media-1400: "only screen and (max-width: 1400px)";

 $media-1440: "only screen and (max-width: 1440px)";
 $media-1366: "only screen and (max-width: 1366px)";
 $media-1280: "only screen and (max-width: 1280px)";
 $media-1200: "only screen and (max-width: 1200px)";
 $media-1024: "only screen and (max-width: 1024px)";
 $media-min1025: "only screen and (min-width: 1025px)";
 $media-992: "only screen and (max-width: 992px)";
 $media-820: "only screen and (max-width: 820px)";
 $media-768: "only screen and (max-width: 768px)";
 $media-min769: "only screen and (min-width: 769px)";
 $media-min701: "only screen and (min-width: 701px)";
 $media-700: "only screen and (max-width: 700px)";
 $media-600: "only screen and (max-width: 600px)";
 $media-500: "only screen and (max-width: 500px)";
 $media-480: "only screen and (max-width: 480px)";
 $media-375: "only screen and (max-width: 375px)";
 $media-320: "only screen and (max-width: 320px)";

 // Min-width (optional, for mobile-first approach)
 $media-min-600: "only screen and (min-width: 600px)";
 $media-min-768: "only screen and (min-width: 768px)";
 $media-min-1024: "only screen and (min-width: 1024px)";
 $media-min-1200: "only screen and (min-width: 1200px)";
 $media-min-1440: "only screen and (min-width: 1440px)";